#TOOL LOCK CONFIG
[dock]
parking_speed:3000
travel_speed:6000

[tool tool1]
parking_location: 10,60
zone_location: 10,50
offset:10,10,10

pre_zone_gcode:
	
post_zone_gcode:

pre_park_gcode:

post_park_gcode:

[tool tool2]
parking_location: 30,60
zone_location: 30,50
offset:10,10,10